.color-a {
  background: #2850ad;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #ffffff;
}

body {
  padding: 2vw;

  background: #0b0b0b;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
  padding: 1vw 3vw;

  background: #303030;
  border-radius: 1vw;

  font-size: 2.25vw;
  font-weight: 500;
}

.title {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 2vw;
  align-items: center;

  margin: 4vw 0;
}

.train_bullet {
  display: grid;
  place-items: center;

  width: 6vw;
  height: 6vw;
  margin: 0;

  border-radius: 50%;
  color: #ffffff;

  font-size: 4.5vw;
  font-weight: 900;
}

.name {
  margin: 0;

  font-size: 4.5vw;
  font-weight: 700;
}
