a:link,
a:visited,
a:hover,
a:active {
  color: #ffffff;
}

body {
  padding: 2vw;

  background: #0b0b0b;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
  padding: 1vw 3vw;

  background: #303030;
  border-radius: 1vw;

  font-size: 2.25vw;
  font-weight: 500;
}

.title {
  font-size: 4.5vw;
  font-weight: 700;
}
